<h2 class="py-4">New Todo List</h2>

<%= render 'form', todo_list: @todo_list %>

  <div class="position-absolute top-0 start-0">
<%= link_to todo_lists_path, class:"btn btn-lg" do %>
<i class="fas fa-caret-square-left fa-3x"></i>
<% end %></div>
