
  <div class="card-body d-flex flex-column align-items-center">
    <h1 class="card-title py-5">WELCOME</h1>
    <h3 class="card-subtitle text-secondary pb-0">JOIN US TO START YOUR LISTS</h3>
    <% if !user_signed_in? %><small class="pb-5 pt-0 text-muted">( or just want to see the app? log in with try@try , password: 123456 )</small><% end %>
    <p class="card-text pt-5 pb-2 text-black-50">made by this guy right here</p> 
    <div class="d-flex pb-5">
    <a href="https://www.linkedin.com/in/mertgunduz1/" target="_blank" class="card-link text-decoration-none text-info">Linkedin</a>
    <a href="https://github.com/mgunduz1" target="_blank" class="card-link text-decoration-none text-info">Github</a>
        </div>
        </div>
